{% extends 'Events_templates/Events_output.html' %}

{% block content %}
<div class="u-container-style u-layout-cell u-size-48 u-layout-cell-2" >
    <div class="u-container-layout u-container-layout-10">
        <div class="u-border-3 u-border-palette-1-dark-2 u-container-style u-group u-palette-1-light-1 u-group-1"
             style="width: 100%; align-self: center">
            <div class="u-container-layout u-valign-middle u-container-layout-11">
                <h1 class="u-align-center u-text u-text-1">Liste des événements</h1>
            </div>
        </div>
        <div style="padding-top: 25px; padding-left: 0px">

            <form action="{% url 'evenements:all' %}" method="GET">
                                    <tr>{{ filter.form.name_event.label }} {{ filter.form.name_event }} {{ filter.form.club.label }} {{ filter.form.club }}</tr>
                                    <tr><br>{{ filter.form.date_event.label }} {{ filter.form.date_event }}</tr>
                                <input type="submit" style="width: 100%; background-color: #77aad9; margin-top: 5px"
                                    value="Rechercher" class="btn btn-success" />
                                </form>

            <div class="container d-flex mt-5" style="align-content: center; margin-top: 0px; position: relative">
                <div class="col">
                    <table id="eventlist" class="table table-striped mt-5" style="margin-top: 0px; position: relative">
                        <thead>
                        <tr>
                            <th class="text-center" scope="col">Nom événement</th>
                            <th class="text-center" scope="col">Club</th>
                            <th class="text-center" scope="col">Date</th>
                            <th class="text-center" scope="col">Durée en jours</th>
                            <th class="text-center" scope="col">Budget (sponsors + admisnistration)</th>
                            <th class="text-center" scope="col">Places disponibles</th>
                            <th class="text-center" scope="col">Prix billet</th>
                            <th class="text-center" scope="col">Modification</th>
                            <th class="text-center" scope="col">Suppression</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for event in filter.qs %}

                        <tr>
                            <td class="ml-5 text-center"><a href="{% url 'evenements:event_detail' event.id_event %}">{{event.name_event}}</a>
                            </td>
                            <td class="text-center">{{event.club}}</td>
                            <td class="text-center">{{event.date_event|date:'d-m-Y'}}</td>
                            <td class="text-center">{{event.duration}}</td>
                            <td class="text-center">{{event.budget}}</td>
                            <td class="text-center">{{event.available_places}}</td>
                            <td class="text-center">{{event.ticket_price}}</td>
                            <td><a href="{% url 'evenements:event_update' event.id_event %} ">Modifier</a></td>
                            <td><a href="{% url 'evenements:event_delete' event.id_event %}">Supprimer</a></td>
                        </tr>

                        {% endfor %}


                        </tbody>
                    </table>
                    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Premier</a>
            <a href="?page={{ page_obj.previous_page_number }}">Précédant</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Suivant</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Dernier &raquo;</a>
        {% endif %}
    </span>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'evenements:event_create' %}" class="d-block btn btn-primary btn-lg my-5">Ajouter</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
    {% endblock content %}