<section class="u-clearfix u-header u-palette-1-light-1 u-block-66c6-1" custom-posts-hash="[]" data-style="header-imglogo-menu" data-post-id="post8" data-section-properties="{&quot;grid-spacing&quot;:&quot;0&quot;,&quot;align&quot;:&quot;left&quot;,&quot;stretch&quot;:true}" id="sec-2115" data-source="" data-id="66c6" style="background-image: none">
  <div class="u-clearfix u-sheet u-block-66c6-2" style="min-height: 112px" data-block-type="Sheet">
    <a href="https://nicepage.com" class="u-image u-logo u-block-control u-block-66c6-8" data-brightness="" data-image-width="128" data-image-height="128" style="width: 80.8px; height: 80.8px; margin-top: 22px; margin-right: auto; margin-bottom: 0px; margin-left: 0px" data-block="1" data-block-type="Logo">
      <img src="/c08aaf68a20de/logo.png" class="u-logo-image u-block-66c6-10" style="width: 100%; height: 100%">
    </a>
    <nav class="u-menu u-menu-dropdown u-offcanvas u-block-control u-block-66c6-11" style="margin: -48.8px -0.0001px 22px auto;" data-block="2" data-block-type="Menu">
      <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
        <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-custom-text-active-color" href="#"><svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg><svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">    <g>        <rect y="1" width="16" height="2"></rect>        <rect y="7" width="16" height="2"></rect>        <rect y="13" width="16" height="2"></rect>    </g></svg></a>
      </div>
      <div class="u-custom-menu u-nav-container">
        <ul class="u-nav u-unstyled u-block-control u-block-66c6-18" style="font-size: 1rem; letter-spacing: normal" data-block="3" data-block-type="Menu"><li class="u-nav-item"><a class="u-nav-link u-button-style active u-text-hover-palette-2-base u-text-active-white" href="Index.html" data-page-id="4696985" style="padding: 10px 20px;">Index</a><div class="u-nav-popup fake u-block-control u-hidden u-block-66c6-19" data-block="47" data-block-type="Menu" style=""></div></li><li class="u-nav-item"><a class="u-nav-link u-button-style u-text-hover-palette-2-base u-text-active-white" href="About.html" data-page-id="451211765" style="padding: 10px 20px;">About</a></li><li class="u-nav-item"><a class="u-nav-link u-button-style u-text-hover-palette-2-base u-text-active-white" href="Contact.html" data-page-id="83740102" style="padding: 10px 20px;">Contact</a></li></ul>
      </div>
      <div class="u-custom-menu u-nav-container-collapse">
        <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav u-block-control u-block-66c6-14" style="" data-block="6">
          <div class="u-inner-container-layout u-sidenav-overflow">
            <div class="u-menu-close u-block-control u-block-66c6-15" style="" data-block="7"></div>
            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-block-control u-block-66c6-16" style="font-size: 1.25rem" data-block="8"><li class="u-nav-item"><a class="u-nav-link u-button-style active" href="Index.html" data-page-id="4696985">Index</a><div class="u-nav-popup fake u-hidden u-block-control u-block-66c6-21" data-block="45" style=""><ul class="u-nav u-unstyled u-block-control u-block-66c6-22" data-block="46" style=""><li class="u-nav-item"><a class="u-nav-link u-button-style" href="#">Élément du menu1</a></li><li class="u-nav-item"><a class="u-nav-link u-button-style" href="#">Élément du menu2</a></li><li class="u-nav-item"><a class="u-nav-link u-button-style" href="#">Élément du menu3</a></li></ul></div></li><li class="u-nav-item"><a class="u-nav-link u-button-style" href="About.html" data-page-id="451211765">About</a></li><li class="u-nav-item"><a class="u-nav-link u-button-style" href="Contact.html" data-page-id="83740102">Contact</a></li></ul>
          </div>
        </div>
        <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
      </div>
    <style class="offcanvas-style">            .u-offcanvas .u-sidenav { flex-basis: 250px !important; }            .u-offcanvas:not(.u-menu-open-right) .u-sidenav { margin-left: -250px; }            .u-offcanvas.u-menu-open-right .u-sidenav { margin-right: -250px; }            @keyframes menu-shift-left    { from { left: 0;        } to { left: 250px;  } }            @keyframes menu-unshift-left  { from { left: 250px;  } to { left: 0;        } }            @keyframes menu-shift-right   { from { right: 0;       } to { right: 250px; } }            @keyframes menu-unshift-right { from { right: 250px; } to { right: 0;       } }            </style></nav>
  </div>
  <style data-mode="XL" data-visited="true">@media (max-width: 0px) { .u-block-66c6-1 {background-image: none}
.u-block-66c6-2 {min-height: 112px}
.u-block-66c6-8 {width: 80.8px; height: 80.8px; margin-top: 22px; margin-right: auto; margin-bottom: 0px; margin-left: 0px}
.u-block-66c6-10 {width: 100%; height: 100%}
.u-block-66c6-11 {margin-top: -48.8px; margin-right: -0.0001px; margin-bottom: 22px; margin-left: auto}
.u-block-66c6-18 {font-size: 1rem; letter-spacing: normal}
.u-block-66c6-16 {font-size: 1.25rem} }</style>
  <style data-mode="LG" data-visited="true">@media (max-width: 0px) { .u-block-66c6-1 {background-image: none}
.u-block-66c6-2 {min-height: 112px}
.u-block-66c6-8 {margin-top: 22px; margin-right: auto; margin-bottom: 0px; margin-left: 0px; width: 81px; height: 81px}
.u-block-66c6-10 {width: 100%; height: 100%}
.u-block-66c6-11 {width: auto; margin-top: -49px; margin-right: 0px; margin-bottom: 22px; margin-left: auto}
.u-block-66c6-18 {font-size: 1rem; letter-spacing: normal}
.u-block-66c6-16 {font-size: 1.25rem} }</style>
  <style data-mode="MD" data-visited="true">@media (max-width: 0px) { .u-block-66c6-1 {background-image: none}
.u-block-66c6-2 {min-height: 112px}
.u-block-66c6-8 {margin-top: 22px; margin-right: auto; margin-bottom: 0px; margin-left: 0px; width: 81px; height: 81px}
.u-block-66c6-10 {width: 100%; height: 100%}
.u-block-66c6-11 {width: auto; margin-top: -49px; margin-right: 0px; margin-bottom: 22px; margin-left: auto}
.u-block-66c6-18 {font-size: 1rem; letter-spacing: normal}
.u-block-66c6-16 {font-size: 1.25rem} }</style>
  <style data-mode="SM" data-visited="true">@media (max-width: 0px) { .u-block-66c6-1 {background-image: none}
.u-block-66c6-2 {min-height: 112px}
.u-block-66c6-8 {margin-top: 22px; margin-right: auto; margin-bottom: 0px; margin-left: 0px; width: 81px; height: 81px}
.u-block-66c6-10 {width: 100%; height: 100%}
.u-block-66c6-11 {width: auto; margin-top: -49px; margin-right: 0px; margin-bottom: 22px; margin-left: auto}
.u-block-66c6-18 {font-size: 1rem; letter-spacing: normal}
.u-block-66c6-16 {font-size: 1.25rem} }</style>
  <style data-mode="XS" data-visited="true">@media (max-width: 0px) { .u-block-66c6-1 {background-image: none}
.u-block-66c6-2 {min-height: 112px}
.u-block-66c6-8 {margin-top: 22px; margin-right: auto; margin-bottom: 0px; margin-left: 0px; width: 81px; height: 81px}
.u-block-66c6-10 {width: 100%; height: 100%}
.u-block-66c6-11 {width: auto; margin-top: -49px; margin-right: 0px; margin-bottom: 22px; margin-left: auto}
.u-block-66c6-18 {font-size: 1rem; letter-spacing: normal}
.u-block-66c6-16 {font-size: 1.25rem} }</style>
<style class="u-sticky-style" data-style-id="66c6"></style></section>