{% extends "Tickets_templates/Tickets_output.html" %}

{% block content %}
<div class="u-container-style u-layout-cell u-size-48 u-layout-cell-2">
    <div class="u-container-layout u-container-layout-10">
        <div class="u-border-3 u-border-palette-1-dark-2 u-container-style u-group u-palette-1-light-1 u-group-1">
            <div class="u-container-layout u-valign-middle u-container-layout-11">
                <h1 class="u-align-center u-text u-text-1">Details du billet</h1>
            </div>
        </div>
        <div style="padding-top: 25px; align-content: center">
            <div class="container mt-5" style="width: 70%;">
                <div class="col">
                    <h1 class="text-center">Details du billet</h1>
                    <div class="d-flex justify-content-center">
                        <table class="table table-striped mt-5" style="width: 50%">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for label, value in tickets.get_fields %}
                            <tr style="display: flex; flex-direction: row">
                                <td style="flex-direction: row">{{label | upper}}</td>
                                <td style="flex-direction: row">{{value}}</td>
                            {% endfor %}
                                <td style="flex-direction: row"></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex justify-content-center">
                        <a href="{% url 'billets:all' %}" class="d-block btn btn-primary btn-lg my-5">< Retour</a>
                        <button id="printButton" class="d-block btn btn-primary btn-lg my-5">Imprimer</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--<script>-->
<!--    printButton.onclick = (e) => {-->
<!--        e.preventDefault();-->
<!--        console.log('Printing');-->
<!--        // print();-->
<!--        var divToPrint = document.getElementById('DivIdToPrint');-->
<!--        var newWin = window.open('', 'Print-Window');-->
<!--        newWin.document.open("/pagetoprint/9/");-->
<!--        // newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');-->
<!--        newWin.document.close();-->
<!--        setTimeout(function () {-->
<!--            newWin.close();-->
<!--        }, 10);-->
<!--    }-->
<!--</script>-->


{% endblock %}