{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;">
<style>
</style>
<body>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=div-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Clubs">
    <meta name="description" content="Page clubs">
    <title>Clubs</title>
    <script class="u-script" type="text/javascript" src="{% static 'js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/nicepage.js' %}" defer=""></script>
    <link rel="stylesheet" href="{% static 'css/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/Label.css' %}" media="screen">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">


    <script type="application/ld+json">{
        "@context": "form",
        "@type": "Organization",
        "name": "",
        "logo": "{% static 'img/logo.png' %}"
    }   </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Label">
    <meta property="og:type" content="website">
</head>
<body class="u-body u-xl-mode">
<header class="u-clearfix u-header u-palette-1-light-1 u-header" id="sec-2115">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a href="" class="u-image u-logo u-image-1" data-image-width="128" data-image-height="128">
            <img src="{% static 'img/logo.png' %}" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
            <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
                <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                   href="#">
                    <svg class="u-svg-link" viewBox="0 0 24 24">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
                    </svg>
                    <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <rect y="1" width="16" height="2"></rect>
                            <rect y="7" width="16" height="2"></rect>
                            <rect y="13" width="16" height="2"></rect>
                        </g>
                    </svg>
                </a>
            </div>
            <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-unstyled u-nav-1">
                    <li class="u-nav-item"><a
                            class="u-button-style u-nav-link u-text-active-white u-text-hover-palette-2-base"
                            href="{% url 'index' %}" style="padding: 10px 20px;">Index</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="u-nav-item"><a
                            class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                            href="{% url 'logout' %}" style="padding: 10px 20px;">Se déconnecter</a>
                        {% else %}
                    <li class="u-nav-item"><a
                            class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                            href="{% url 'login' %}" style="padding: 10px 20px;">S'authentifier</a>
                        {% endif %}
                    </li>
                    <li class="u-nav-item"><a
                            class="u-button-style u-nav-link u-text-active-white u-text-hover-palette-2-base"
                            href="mailto:amine.elbakkouri@outlook.com" style="padding: 10px 20px;">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                    <div class="u-inner-container-layout u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                      href="{% url 'index' %}">Index</a>
                            </li>
                            <li class="u-nav-item"><a
                                    class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                                    href="{% url 'login' %}" style="padding: 10px 20px;">Authentification</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                      href="../Contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
            </div>
        </nav>
    </div>
</header>
<section style="position: relative; margin-bottom: 80%" class="u-clearfix u-section-1" id="sec-f7a7">
    <div style="position: absolute; height: auto; padding-top: 0%" class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-white u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-palette-1-light-1 u-size-12 u-layout-cell-1">
                        <div class="u-border-2 u-border-palette-1-dark-2 u-container-layout u-container-layout-1">
                            <div class="u-expanded-width u-list u-list-1">
                                <div class="u-repeater u-repeater-1">
                                    <div class="u-border-3 u-border-palette-1-base u-container-style u-list-item u-palette-1-light-3 u-repeater-item u-list-item-1">
                                        <div class="u-container-layout u-similar-container u-container-layout-2">
                                            <a href="{% url 'evenements:all' %}"
                                               class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-palette-1-base u-btn-1">Evenements</a>
                                        </div>
                                    </div>
                                    <div class="u-border-3 u-border-palette-1-base u-container-style u-list-item u-palette-1-light-3 u-repeater-item u-list-item-2">
                                        <div class="u-container-layout u-similar-container u-container-layout-3">
                                            <a href="{% url 'billets:all' %}"
                                               class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-palette-1-base u-btn-2">Billets</a>
                                        </div>
                                    </div>
                                    <div class="u-border-3 u-border-palette-1-base u-container-style u-list-item u-palette-1-light-3 u-repeater-item u-list-item-3">
                                        <div class="u-container-layout u-similar-container u-container-layout-4">
                                            <a href="{% url 'etudiants:all' %}"
                                               class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-palette-1-base u-btn-3">Etudiants</a>
                                        </div>
                                    </div>
                                    <div class="u-border-3 u-border-palette-1-base u-container-style u-list-item u-palette-1-light-3 u-repeater-item u-list-item-4">
                                        <div class="u-container-layout u-similar-container u-container-layout-5">
                                            <a href="{% url 'achats:all' %}"
                                               class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-palette-1-base u-btn-4">Achats</a>
                                        </div>
                                    </div>
                                    <div class="u-border-3 u-border-palette-1-base u-container-style u-list-item u-palette-1-light-3 u-repeater-item u-list-item-5">
                                        <div class="u-container-layout u-similar-container u-container-layout-6">
                                            <a href="{% url 'clubs:all' %}"
                                               class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-palette-1-base u-btn-5">Clubs</a>
                                        </div>
                                    </div>
                                    <div class="u-border-3 u-border-palette-1-base u-container-style u-list-item u-palette-1-light-3 u-repeater-item u-list-item-6">
                                        <div class="u-container-layout u-similar-container u-container-layout-7">
                                            <a href="{% url 'tresorerie' %}"
                                               class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-palette-1-base u-btn-6">Tresorerie</a>
                                        </div>
                                    </div>
                                    <div class="u-border-3 u-border-palette-1-base u-container-style u-list-item u-palette-1-light-3 u-repeater-item u-list-item-7">
                                        <div class="u-container-layout u-similar-container u-container-layout-8">
                                            <a href="{% url 'admin:index' %}"
                                               class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-palette-1-base u-btn-7">Utilisateurs</a>
                                        </div>
                                    </div>
                                    <div class="u-border-3 u-border-palette-1-base u-container-style u-list-item u-palette-1-light-3 u-repeater-item u-list-item-8">
                                        <div class="u-container-layout u-similar-container u-container-layout-9">
                                            <a href="{% url 'admin:index' %}"
                                               class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-palette-1-base u-btn-8">Roles</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="position: absolute; margin-left: 35%">

                        {% block content %}
                        {% endblock content %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
</section>


<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-102a">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1"> Application de gestion d'événements pour club
            universitaire</p>
    </div>
</footer>
</body>
</html>