{% extends "Students_templates/Students_output.html" %}

{% block content %}
<div class="u-container-style u-layout-cell u-size-48 u-layout-cell-2">
    <div class="u-container-layout u-container-layout-10">
        <div class="u-border-3 u-border-palette-1-dark-2 u-container-style u-group u-palette-1-light-1 u-group-1">
            <div class="u-container-layout u-valign-middle u-container-layout-11">
                <h1 class="u-align-center u-text u-text-1">Confirmer suppression</h1>
            </div>
        </div>
        <div style="padding-top: 25px; align-content: center">

            {% url 'etudiants:all' as list_all %}

            <div class="container d-flex justify-content-center mt-5" style="width: 50%;">
                <div class="col mt-5 text-center">
                    <h1 class="mb-5">Supprimer étudiant</h1>

                    <p class="h5">Voulez vous supprimer l'étudiant:</p>
                    <h3 class="my-5">{{ students.name_student|add:" "|add:students.surname_student }}</h3>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary btn-lg" value="Confirmer"
                               style="margin-right: 30px; margin-top: 30px;">
                        <input type="submit" class="btn btn-danger btn-lg" style="margin-top: 30px;"
                               onclick="window.location='{{list_all}}'; return false;" value="Annuler">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}